<h1>Create a new pair</h1>


<%= form_for @vendor_sweets do |f| %>
  <%= f.label :name %><br>
  <%= f.collection_select :vendor_id, @vendors, :id, :name %><br>
  <%= f.label :name %><br>
  <%= f.collection_select :sweet_id, @sweets, :id, :name %><br>
  <%= f.label "Price" %><br>
  <%= f.integer :price %><br>
  <%= f.submit %>
<% end %>

<%# we'd like to go to the selected vendor's show page. %>
<%= link_to "Check this Vendor, vendor_path(@vendor) %>
