<!DOCTYPE html>
<html>
<head>
	<title> <%= "#{@vendor_sweet.vendor.name} - #{@vendor_sweet.sweet.name}" %>
	</title>
</head>
<body>
	<div> 
		<h1> <%= "#{@vendor_sweet.vendor.name} - #{@vendor_sweet.sweet.name}"</h1> %>
	</div>
	<div>
		<ul> 
			<li> <%= @vendor_sweet.vendor.name %></li>
			<li> <%= @vendor_sweet.sweet.name %></li>
			<li> <%= @vendor_sweet.price %></li>
		</ul> 
	</div>
</body>
</html>